
ex_variaveis/ex_1.exe
ex_variaveis/ex_2.exe
ex_variaveis/ex_5.exe
ex_variaveis/ex_7.exe
ex_variaveis/output/ex_1.exe
ex_variaveis/output/ex_10.exe
ex_variaveis/output/ex_11.exe
ex_variaveis/output/ex_12.exe
ex_variaveis/output/ex_13.exe
ex_variaveis/output/ex_2.exe
ex_variaveis/output/ex_3.exe
ex_variaveis/output/ex_4.exe
ex_variaveis/output/ex_5.exe
ex_variaveis/output/ex_6.exe
ex_variaveis/output/ex_7.exe
ex_variaveis/output/ex_8.exe
ex_variaveis/output/ex_9.exe
exercicios_para_casa/output/ex1.exe
exercicios_para_casa/output/ex2.exe
exercicios_para_casa/output/ex3.exe
exercicios_para_casa/output/ex4.exe
exercicios_para_casa/output/ex5.exe
